<form action="/recipes" method="post" class="form-example">
 <div class="form-example">
   <label for="name">Enter recipe name: </label>
   <input type="text" name="name" id="name" required>
 </div>
 <div class="form-example">
   <label for="description">Enter description : </label>
   <input type="text" name="description" id="description" required>
 </div>
 <div class="form-example">
   <input type="submit" value="Create!">
 </div>
</form>
