<h1>-- My CookBook --</h1>

<h2>What do you want to do?</h2
<ul>
  <li>1 - List all recipes</li>
  <li>2 - Create a new recipe</li>
  <li>3 - Destroy a recipe</li>
  <li>4 - Import recipes from LetsCookFrench</li>
  <li>5 - Mark as done</li>
  <li>6 - Exit</li>
</ul>
